:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  cursor: pointer;
}

button[disabled] {
  cursor: not-allowed;
}

/* Dialog */
dialog:modal {
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: clamp(0px, calc(100% - 100px), 600px);
  max-height: clamp(0px, calc(100% - 100px), 600px);
  border-radius: 10px;
  border: none;
  padding: 0;
  outline: none;
  user-select: none;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.4);
}

dialog header {
  position: sticky;
  top: 0;
  display: block;
  font-size: 1.4em;
  font-weight: bold;
  padding: 20px 20px;
  background: whitesmoke;
  border-bottom: 1px solid lightgray;
}

dialog main {
  overflow-y: auto;
}

dialog footer {
  height: 20px;
  background: whitesmoke;
  border-top: 1px solid lightgray;
}


/* Dark mode */
@media  (prefers-color-scheme: dark) {
  dialog header, dialog footer {
    background: #111;
  }

  dialog header {
    border-bottom: 1px solid gainsboro;
  }

  dialog footer {
    border-top: 1px solid gainsboro;
  }

  dialog {
    background: #222;
  }
}